<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="sb-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      /* .card {
        width: 700px;
        border-radius: 0;
        padding: 0 0 50px 0;
        margin: 100px auto;
        background-color: rgba(255, 255, 255, .9);
      } */

      .btn-group {
        text-align: center;
        margin-top: 30px;
      }

      paper-input {
        padding: 0 15px;
        width: 40%;
        display: inline-block;
      }

      @media screen and (max-width:767px) {
        paper-input {
          width: calc(100% - 60px);
        }
      }

      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 15px;

      }

      paper-button.green:not([disabled]) {
        background-color: var(--paper-green-500);
        color: white;
      }

      paper-button.red {
        background-color: var(--paper-red-500);
        color: white;
      }

      paper-button.blue {
        background-color: var(--paper-light-blue-400);
        color: white;
      }

      h1 {
        text-align: center;
      }

      label {
        padding: 0 15px;
      }

      .yellow-button {
        text-transform: none;
        color: #eeff41;
      }

      .content {
        width: 60%;
        display: inline-block;
      }

      .map {
        width: 37%;
        display: inline-block;
      }
      .map img{
        max-width: 100%;
      }
      @media screen and (max-width:767px){
      .content {
      width: 100%;
      }
      .map{display: none}
      }
    </style>
    <iron-ajax id="reqOffer" method="POST" url="http://192.168.1.109:8080/location/click" handle-as="json" content-type="application/json"
      param="" on-response="_Response" debounce-duration="300"></iron-ajax>
    <div class="card">
      <div class="content">
        <h1 class="title">Get Offer</h1>
        <iron-form name="getOffer" id="get_offer">
          <paper-input type="text" name="CustInfo" id="CustInfo" allowed-pattern="[0-9]" required label="Customer Information" value="{{offer.customerId}}"></paper-input>
          <paper-input type="text" name="DeviceId" id="DeviceId" required label="Device Id" value="{{offer.deviceId}}"></paper-input>
          <paper-input type="text" name="GeoFenceId" id="GeoFenceId" required label="GeoFence Id" value="{{offer.geofenceId}}"></paper-input>
          <br/>
          <br/>
          <label>Geo Location:</label>
          <br/>
          <paper-input type="text" name="GeoLat" id="GeoLat" required label="Latitude" value="{{offer.deviceLatitude}}"></paper-input>
          <paper-input type="text" name="GeoLong" id="GeoLong" required label="Longitude" value="{{offer.deviceLongitude}}"></paper-input>
          <div class="btn-group">
            <paper-button name="submit" id="login" class="green" raised on-tap="_reqOffer" disabled="[[_isDisabled(offer.customerId, offer.DeviceId,offer.geofenceId,offer.deviceLongitude,offer.deviceLatitude)]]">Request Offer</paper-button>
            <paper-button name="reset" id="reset" class="red" raised on-tap="_reset">Reset</paper-button>
            <paper-button name="Admin Panel" id="Admin Panel" class="blue" raised on-tap="_adminPanel">Go to admin Panel</paper-button>
          </div>
        </iron-form>
      </div>
      <div class="map">
        <img src="http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef017ee8926f26970d-pi" />
      </div>
    </div>

  </template>


  <script>
    class SbHome extends Polymer.Element {
      static get is() { return 'sb-home'; }

      static get properties() {
        return {
          offer: {
            type: Object,
            value: { customerId: "", deviceId: "", geofenceId: "", deviceLatitude: "", deviceLongitude: "" }
          }
        }
      }

      _isDisabled(customerId, deviceId, geofenceId, deviceLongitude, deviceLatitude) {
        return this.offer.customerId.length == 0 || this.offer.deviceId.length == 0 || this.offer.geofenceId.length == 0 || this.offer.deviceLatitude.length == 0 || this.offer.deviceLongitude.length == 0;
      }
      _reqOffer() {
        this.$.get_offer.submit();
        this.$.reqOffer.body = JSON.stringify(this.offer);
        console.log(this.offer);
        this.$.reqOffer.generateRequest();
      };
      _adminPanel() {
        window.history.pushState({}, null, '/show-offers');
        window.location.href = "show-offers";
      }
      _reset() {
        this.set('offer.deviceId', "");
        this.set('offer.customerId', "");
        this.set('offer.geofenceId', "");
        this.set('offer.deviceLatitude', "");
        this.set('offer.deviceLongitude', "");
      }
    }

    window.customElements.define(SbHome.is, SbHome);

  </script>
</dom-module>