<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/all-imports.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="shared-styles.html">

<dom-module id="sb-show-offers">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <iron-ajax auto url="http://127.0.0.1:3000/offer" handle-as="json" last-response="{{offer}}" on-response="setTheOffers"></iron-ajax>
      <div>[[offer.]]</div>
      <vaadin-grid items="[[offer]]" column-reordering-allowed multi-sort>
  
  
        <vaadin-grid-column width="9em" resizable>
          <template class="header">
            <vaadin-grid-sorter path="firstName">Offer ID</vaadin-grid-sorter>
          </template>
          <template>
            <paper-button raised on-click="openDialog">[[item.OfferId]]</paper-button>
          </template>
        </vaadin-grid-column>
  
        <vaadin-grid-column width="9em" resizable>
          <template class="header">
            <vaadin-grid-sorter path="lastName">Customer Id</vaadin-grid-sorter>
          </template>
          <template>[[item.CustomerId]]</template>
        </vaadin-grid-column>
  
        <vaadin-grid-column width="15em" flex-grow="2" resizable>
          <template class="header">
            <vaadin-grid-sorter path="address.street">Place Name</vaadin-grid-sorter>
          </template>
          <template>
            <a>[[item.PlaceName]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column width="15em" flex-grow="2" resizable>
          <template class="header">
            <vaadin-grid-sorter path="address.street">Generated Time</vaadin-grid-sorter>
          </template>
          <template>[[item.GeneratedTime]]</template>
        </vaadin-grid-column>
      </vaadin-grid>
          <paper-dialog id="dialog">
              <h2>Offer Details</h2>
              <paper-dialog-scrollable>
                
              </paper-dialog-scrollable>
              <div class="buttons">
                <paper-button dialog-dismiss>Close</paper-button>
              </div>
            </paper-dialog>

      </template>
  </template>

  <script>
    class SbShowOffers extends Polymer.Element {
      static get is() { return 'sb-show-offers'; }
      static get properties(){
        return {
         showDetails:{
          value:true,
          type:Boolean,
          notify:true
         },
         offers:{
           type:Object,
         }
        
        }
      }
      setTheOffers(res){
       
        this.offers = res.detail.response
      }
      showOfferDetails(){

      }
      openDialog(event) {
        debugger;
        this.$.dialog.open();
      }
    }
   

    window.customElements.define(SbShowOffers.is, SbShowOffers);
  </script>
</dom-module>
